.content{
	border: 1px solid black;
}

.righttree{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 500px;
  background: #2A2F3A;
  //属性
  .content{
	  .key{
	  	  color: #6FB3D2;
	  }

	  .value{
	  	  color: #A1C659;
	  }
	  .null{
	  	  color: #fb9fb1;
	  }
	  .expand{
	  	  color: rgb(190, 190, 190);
	  }
	}
 }